<div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Customer Activity</h5>   
                <p class="card-text"></p>
                <button href="#" class="btn btn-primary" (click) = "openCustomerlogin()">Open</button>
              
              </div>
            </div>
      </div>l̥
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>   
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary" >Open</a>
            
            </div>
          </div>
    </div>l̥
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card3</h5>   
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Open</a>
          
          </div>
        </div>
    </div>l̥
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Car Sales</h5>   
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Open</a>
              
              </div>
            </div>
      </div>l̥
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card3</h5>   
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Open</a>
            
            </div>
          </div>
    </div>l̥
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Inbound calls</h5>   
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Open</a>
          
          </div>
        </div>
    </div>l̥
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Outbound calls</h5>   
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Open</a>
              
              </div>
            </div>
      </div>l̥
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>   
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Open</a>
            
            </div>
          </div>
    </div>l̥
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card2</h5>   
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Open</a>
          
          </div>
        </div>
    </div>l̥
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card3</h5>   
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Open</a>
              
              </div>
            </div>
      </div>l̥
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Car Leads</h5>   
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Open</a>
            
            </div>
          </div>
    </div>l̥
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card3</h5>   
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Open</a>
          
          </div>
        </div>
    </div>l̥
    </div>
    
    
    